<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="OS0-32">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="OS0-32" params="*origin parent:=base_link name:=os0_sensor topic_points:=/os0_cloud_node/points topic_imu:=/os0_cloud_node/imu hz:=10 lasers:=32 samples:=512 min_range:=0.9 max_range:=75.0 noise:=0.008 min_angle:=-${M_PI} max_angle:=${M_PI} lidar_link:=os0_lidar imu_link:=os0_imu vfov_min:=-0.785398 vfov_max:=0.785398 is_sim:=false">

    <joint name="${name}_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

    <link name="${name}_base_link" />

    <joint name="${name}_base_to_baseplate" type="fixed">
      <parent link="${name}_base_link"/>
      <child link="${name}_baseplate" />
      <origin xyz="0 0 0.008"/>
    </joint>

    <link name="${name}_baseplate">
      <visual>
        <geometry>
          <box size="0.112 0.112 0.016" />
        </geometry>
        <material name="silver">
          <color rgba="0.5 0.5 0.5 1.0" />
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.112 0.112 0.016" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_baseplate_to_body" type="fixed">
      <parent link="${name}_baseplate"/>
      <child link="${name}"/>
      <origin xyz="0 0 0.042" rpy="0 0 0" />
    </joint>

    <link name="${name}">
      <inertial>
         <mass value="0.33"/>
         <origin xyz="0 0 0.0365" rpy="0 0 0" />
         <inertia ixx="0.000241148" ixy="0" ixz="0"
          iyy="0.000241148" iyz="0" izz="0.000264"/>
      </inertial>
      <collision name="base_collision">
         <origin xyz="0 0 0.0365" rpy="0 0 0" />
         <geometry>
 	        <cylinder radius="0.04" length="0.073"/>
         </geometry>
      </collision>
      <visual name="base_visual">
         <origin xyz="0 0 0.0" rpy="0 0 1.5707" />
         <geometry>
	         <mesh filename="package://honeybee_description/meshes/os1_64.dae" />
         </geometry>
      </visual>
    </link>

    <!-- Steve mod: cannot use on hardware since it publishes its own frames -->
    <xacro:if value="${is_sim}">
      <link name="${imu_link}" />

      <link name="${lidar_link}" />


      <joint name="${name}_imu_link_joint" type="fixed">
        <parent link="${name}" />
        <child link="${imu_link}" />
        <origin xyz="0.006253 -0.011775 0.007645" rpy="0 0 0" />
      </joint>
      <gazebo reference="${imu_link}">
      </gazebo>

      <joint name="${name}_lidar_link_joint" type="fixed">
        <parent link="${name}" />
        <child link="${lidar_link}" />
        <origin xyz="0.0 0.0 0.03618" rpy="0 0 0" />
      </joint>
    </xacro:if>


    <gazebo reference="${name}">
      <sensor name="${name}" type="gpu_lidar">
        <update_rate>${hz}</update_rate>
        <visualize>false</visualize>
        <always_on>true</always_on>
        <ignition_frame_id>${name}</ignition_frame_id>  <!-- Steve mod: fix frame to something actually in URDF -->
        <topic>sensors/lidar_0</topic>  <!-- Steve mod: set topic to same as hardware -->
        <lidar>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <vertical>
              <samples>${lasers}</samples>
              <resolution>1</resolution>
              <min_angle>${vfov_min}</min_angle>
              <max_angle>${vfov_max}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.003</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.003</stddev>
          </noise>
        </lidar>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
