<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Description Package -->
  <xacro:property name="package"      value="ona01_description" />
  <xacro:property name="find_package" value="$(find ${package})" />

  <!-- Includes -->
  <xacro:include filename="${find_package}/urdf/includes/custom_macros.urdf.xacro" />
  <xacro:include filename="${find_package}/urdf/includes/OS0-32.urdf.xacro" />
  
  <!-- MESHES -->
  <xacro:property name="meshes"             value="${package}/meshes/" />
  <xacro:property name="realsense_mount"    value="realsense_fixed_mount.STL" />

  <!-- ARK Bulkhead Top Ref. Link -->
  <xacro:link name="ark_enclosure_top" parent="ark_enclosure_link" type="fixed">
  	<origin xyz="0 0 0.06803" rpy="0 0 0" />
  </xacro:link>

  <!-- RealSense Mount -->
  <xacro:mesh name="realsense_mount" parent="ark_enclosure_top_link" mesh="${realsense_mount}" material="cpr_grey">
    <origin xyz="0.1344 0 0" rpy="0 0 0" />
  </xacro:mesh>
  
  <!-- Ouster Tower -->
  <xacro:mount_plate prefix="ouster_tower" parent="ark_enclosure_top_link" pattern=".08 .08" height="0.125" radius="0.005">
    <xacro:property name="plate"     value="0 0 0" />
    <xacro:property name="xyz"       value="0 0 0" />
    <xacro:property name="rpy"       value="0 0 0" />
  </xacro:mount_plate>

  <!-- Ouster Lidar -->
  <xacro:OS0-32 parent="ouster_tower_mount_plate">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:OS0-32>
  
</robot>
