<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="j100-0842">

  <!-- Common -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/j100.urdf.xacro"/>
  <xacro:j100 wheel="default"/>


  <!-- Attachments -->

  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/attachments/fender.urdf.xacro"/>
  <xacro:fender name="front_fender" model="default" parent_link="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:fender>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/attachments/fender.urdf.xacro"/>
  <xacro:fender name="rear_fender" model="default" parent_link="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.1415"/>
  </xacro:fender>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/attachments/top_plate.urdf.xacro"/>
  <xacro:top_plate name="ark_enclosure" model="ark_enclosure" parent_link="default_mount">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:top_plate>


  <!-- Links -->


  <!-- Mounts -->


  <!-- Sensors -->

  <!-- camera_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/intel_realsense.urdf.xacro"/>
  <xacro:intel_realsense name="camera_0" parent_link="realsense_mount_link" update_rate="30" image_height="480" image_width="640">
    <origin xyz="0.0 0.0 0.004" rpy="0.0 0.0 0.0"/>
  </xacro:intel_realsense>

  <!-- imu_1 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/microstrain_imu.urdf.xacro"/>
  <xacro:microstrain_imu name="imu_1" parent_link="base_link" update_rate="100">
    <origin xyz="0.093 0.103 0.1881" rpy="0.0 0.0 -1.57"/>
  </xacro:microstrain_imu>


  <!-- Extras -->

  <xacro:include filename="$(find ona01_description)/urdf/ona01_jackal_description.urdf.xacro"/>

</robot>
