[Unit]
Description="Bringup Nav2"
Requires=robot_bringup.service

[Service]
User=administrator
Type=simple
ExecStart=/bin/bash -c 'source ~/amd_ws/install/setup.bash; ros2 launch honeybee_nav2 nav2.launch.py slam:=True;'

[Install]
WantedBy=multi-user.target
